*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.yt-loader{
/*	width: 100%;
	height:3px;
	background-color: red;
	animation: loader 3s ease-in-out;*/
}
.yt-loader.active{
	width: 100%;
	height:3px;
	background-color: red;
	animation: loader 3s ease-in-out;
}

@keyframes loader{
	0%{
		width:0%;
	}
	/* 25%{
		width:40%;
	}
	50%{
		width:60%;
	} */
	95%{
		width:90%;
	}
	100%{
		width:100%;
	}
}

.activate {
    margin-top: 5px;
    padding: 3px 5px;
    background-color: #333;
    color: #eee;
    cursor: pointer;
}
